.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align:center;
    font-weight: 500;
}
.app-download-platforms{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.app-download-platforms img{
    width: max(13vw,120px);
    max-width: 100px;
    cursor: pointer;
    transition: 0.2ms;
}
.app-download-platforms img:hover{
    transform: scale(1.1);
}